# Database
DATABASE_URL=postgresql+asyncpg://postgres:qaawee1205!@db.iauaszrjuzfexohwqja.supabase.co:5432/postgres

# Supabase
SUPABASE_URL=https://iauaszrjuzfexohwqja.supabase.co
SUPABASE_KEY=sb_secret_1y5su7eLrvreB2SeR8DDpA_GH3jQ-tV

# GigaChat
GIGACHAT_API_KEY=MDE5ZDczZWYtMDhlZC03MGQ5LTgzZTEtN2E4ODdkZWQyMWM0Ojc2NGQzMzM2LTE2MTQtNDIwMi1iZGJhLWIwY2Y5YjAwNTVhOA==
GIGACHAT_AUTH_URL=https://ngw.devices.sberbank.ru:9443/api/v2/oauth
GIGACHAT_API_URL=https://gigachat.devices.sberbank.ru/api/v1
GIGACHAT_SCOPE=GIGACHAT_API_PERS

# JWT
SECRET_KEY=jK8mN2pQ9rT4vX7zB1cD6fG3hJ5lM0nP8qS4uW7yA2eH9iL
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# App
APP_NAME=RedMind AI
DEBUG=True
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000

# Limits
MAX_TEXT_LENGTH=50000
FREE_ANALYSES_LIMIT=1
